$pcolor: rgba(118,0,187,1);
$scolor: rgba(15,41,165,1);
$tcolor: #B2BEBF;
$color: #F2E7DC;
$hcolor: #dbcdbf;
$card: #17171a;
$bg: #0D0D0D;
$footer: #1f1f1f4b;
$gradient: linear-gradient(90deg, rgba(15,41,165,1) 0%, rgba(118,0,187,1) 100%);
$gradientVert: linear-gradient(180deg, rgba(15,41,165,1) 0%, rgba(118,0,187,1) 100%);


$pTextColor: #ffffff;
$sTextColor: #858585;
$tTextColor: #afafaf;
$qTextColor: #979797;

$phone: 630px;
$tablet: 800px;
$desktop: 1240px;
$Ldesktop: 1920px;