@import "../util/variables";

a {
    text-decoration: none;
    transition: .5s;
}

a:hover {
    color: $hcolor;
}

h2 {
    font-size: clamp(8px, 2.5vw, 3rem);
}

h3 {
    font-size: clamp(1em, 2vw, 1em);
}